/* <------FirstSlide------> */
.mySwiper { width: 100% }
.blog-card {
  
    position: relative;
}
.container2{
  width: 100%;
  /* border: 1px solid black; */
  
}
.blog-card .blog-card__background, .blog-card .card__background--layer {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog-card .blog-card__head {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:700px) {
  .blog-card .blog-card__head {
    height: 300px;
  }}
  @media only screen and (max-width:950px) {
    .blog-card .blog-card__head {
      height: 425px;
    }}
@media only screen and (max-width:560px) {
  .blog-card .blog-card__head {
    height: 300px;
   
}
  .blog-card .blog-card__head {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}	
 
  }


